{%extends "base.html"%}
{%block title%}Credits -Plantastic{%endblock%}

{%block content%}
<div class="main container p-3">
    <br><br><br>
    <h1 class="titleBold">Credits</h1>
    <div class="row">
        <div class="col-6">
            <h3 class="title">Images used linked below:</h3>
            <ul>
                <li>
                    <a href="https://unsplash.com/photos/vegetable-salad-on-white-ceramic-plate-FVf1ESEBuMI
">Opening Picture (Monika Grabkowska on UnSplash)</a>
                </li>
                <li>
                    <a href="https://unsplash.com/photos/cooked-food-wSh0Exrb62g" target="_blank"> Home page blurb picture (Victoria Shes on UnSplash)</a>
                </li>
                <li>
<a href="https://unsplash.com/photos/group-of-people-sitting-on-bench-near-trees-duting-daytime-Q_Sei-TqSlc" target="_blank"> People who gave ratings (Naassom Azevedo on UnSplash)</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/close-up-photo-of-cooked-pasta-2456435/" target="_blank">Menu Item- Thai Stir Fry (Engin Akyurt on Pexels)</a>
                </li>
                <li>
                    <a href="https://unsplash.com/photos/white-ceramic-plate-with-food-o1EDsUFmuXQ" target="_blank"> Menu Item- Pesto Pasta (Nerfee Mirandilla on UnSplash)</a>
                </li>
                <li>
                    <a href="https://unsplash.com/photos/waffle-with-cream-on-white-ceramic-plate-6hxK5l-sHys" target="_blank"> Menu Item- Waffles (Taylor Kiser on UnSplash)</a>
                </li>
                <li>
                    <a href="https://unsplash.com/photos/vegetable-salad-served-on-white-bowl-6UxD0NzDywI" target="_blank"> Menu Item- Veggie Spring Rolls (Ella Olsson on UnSplash)</a>
                </li>
                <li>
                    <a href="https://unsplash.com/photos/fried-rice-with-green-vegetable-on-brown-ceramic-plate-708OpfCW4H8" target="_blank">Menu Item- Risotto (Yalamber Limbu on UnSplash)</a>
                </li>
                <li>
                    <a href="https://unsplash.com/photos/a-woman-is-holding-a-bowl-of-food-VepJDAuitQ4" target="_blank"> Menu Item- Spiced Bowl (Clark Douglas on UnSplash)</a>
                </li>
                <li>
                    <a href="https://pixabay.com/photos/restaurant-street-cafe-table-766050/" target="_blank"> Contact Us Photo (kaboompics on Pixabay)</a>
                </li>
                <li>
                    <a href="https://pixabay.com/photos/sheep-lamb-animals-livestock-farm-7943526/" target="_blank"> Why Vegan? Photo (TheOtherKev on Pixabay)</a>
                </li>
            </ul>
            <hr>
            <h3 class="title">Other Credits</h3>
            <p>This website was made with Bootstrap's 5.3 Framework</p>
            <br>
            <p>This website uses fonts "Arvo" and "Lato" from Google Fonts</p>
            <h1 class="titleBold">Thank you so much for your time!!! </h1>
        </div>
        <div class="col-6">
            <iframe src="static/assets/files/workLog.pdf" width="100%" height="600px"></iframe>
        </div>
    </div>
</div>
{%endblock%}


why vegan:
https://pixabay.com/photos/sheep-lamb-animals-livestock-farm-7943526/