{%extends "base.html"%}
{%block title%}Menu -Plantastic{%endblock%}

{%block content%}
<br><br>

<div class="main container p-5">
    <h1 class="titleBold" style="font-size:40px;">Explore our Menu</h1>
<h4>Explore some of our top selling menu items online and at all of our locations! <br> All of our dishes are vegan, made with quality ingredients, and have clearly labelled allergens </h4>
    <div class="row">
        <div class="col-4 p-4" style="margin: auto;">
            <div class="card p-0" >
                <img src="static/assets/images/thaiNoodles.jpg" class="card-img-top" alt="..." style="margin: 0; padding: 0;">
                <div class="card-body">
                    <h4 class="card-title">Thai Peanut Stir-Fry</h4>
                    <p class="card-text">Rice noodles tossed with tofu, bell peppers, broccoli, and carrots in peanut sauce, topped with sesame and lime.</p>
                    <h5 class="card-title">Allergens</h5>
                    <p class="card-text">Peanuts, Sesame,  Soy</p>
                </div>
            </div>
        </div>
        <div class="col-4 p-4" style="margin: auto;">
            <div class="card p-0" >
                <img src="static/assets/images/grainbowl.jpg" class="card-img-top" alt="..." style="margin: 0; padding: 0;">
                <div class="card-body">
                    <h4 class="card-title">Spiced Quinoa & Veggie Bowl                    </h4>
                    <p class="card-text">A warm, filling bowl with roasted broccoli, spiced quinoa, blistered tomatoes, mushrooms, and our creamy house dressing.</p>
                    <h5 class="card-title">Allergens</h5>
                    <p class="card-text">None</p>
                </div>
            </div>
        </div>
        <div class="col-4 p-4" style="margin: auto;">
            <div class="card p-0" >
                <img src="static/assets/images/risotto.jpg" class="card-img-top" alt="..." style="margin: 0; padding: 0;">
                <div class="card-body">
                    <h4 class="card-title">Butternut Squash Risotto                    </h4>
                    <p class="card-text">Rice cooked in a rich, dairy-free butternut squash sauce with garlic, herbs, and nutritional yeast.                    </p>
                    <h5 class="card-title">Allergens</h5>
                    <p class="card-text">None</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 p-4" style="margin: auto;">
            <div class="card p-0" >
                <img src="static/assets/images/waffles.jpg" class="card-img-top" alt="..." style="margin: 0; padding: 0;">
                <div class="card-body">
                    <h4 class="card-title">Butter Pecan Waffles</h4>
                    <p class="card-text">Fluffy almond milk pancakes served with a smooth butter pecan sauce with a generous helping of pecans on top</p>
                    <h5 class="card-title">Allergens</h5>
                    <p class="card-text">Gluten, Pecans, Almonds</p>
                </div>
            </div>
        </div>
        <div class="col-4 p-4" style="margin: auto;">
            <div class="card p-0" >
                <img src="static/assets/images/veggieRolls.jpg" class="card-img-top" alt="..." style="margin: 0; padding: 0;">
                <div class="card-body">
                    <h4 class="card-title">Veggie Spring Rolls</h4>
                    <p class="card-text">Fresh vegetable spring rolls filled with rice noodles, purple cabbage, carrots, cucumber, and herbs, served with a creamy peanut dipping sauce.</p>
                    <h5 class="card-title">Allergens</h5>
                    <p class="card-text">Peanuts, Sesame</p>
                </div>
            </div>
        </div>
        <div class="col-4 p-4" style="margin: auto;">
            <div class="card p-0" >
                <img src="static/assets/images/pasta.jpg" class="card-img-top" alt="..." style="margin: 0; padding: 0;">
                <div class="card-body">
                    <h4 class="card-title">Penne alla Pesto    </h4>
                    <p class="card-text">Freshly made gluten free pasta with a homemade peanut-free pesto sauce made with sunflower seeds, EV olive oil, basil, and garlic. </p>
                    <h5 class="card-title">Allergens</h5>
                    <p class="card-text">None</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">

        <hr>
        <br>
        <h3 class="titleBold" style="text-align:center;font-size:30px"> Not seeing something you like?</h3> <br>
        <p style="font-size:20px;text-align:center;"> At our restaurants we have many "Make Your Own" style dishes, such as salads and grainbowls, that you can turn into your dream meal! Additionally, any of our menu items can be substitued to make them fit your allergen or dietary needs.</p>
    </div>
</div>

{%endblock%}