{%extends "base.html"%}
{%block title%}Why are We Vegan? -Plantastic{%endblock%}

{%block content%}
<div class="container p-4">
    <div class="row">
        <div class="col-5">
            <img src="static/assets/images/whyVegan.jpg" alt="" style="max-width:100%;height:auto">
        </div>
        <div class="col-7">
            <br><br><br>
            <h1 class="title">Why we Do what we Do</h1>
            <div class="row">
                <div class="col-6 p-2">
                    <h3 class="title">
                        Food That Nourishes, Planet That Thrives
                    </h3>
                    <p>
                        At Plantly, we believe that great food should fuel both your body and the world around you. Our 100% plant-based menu is crafted with health in mind, offering nutrient-rich, whole-food ingredients that are naturally high in fiber, vitamins, and antioxidants—without cholesterol or artificial additives. Eating plant-based isn’t just a choice for personal wellness; it’s also one of the easiest ways to lower your environmental footprint. Compared to meat and dairy, plant-based foods require fewer resources and produce significantly less carbon emissions, making each meal a step toward a healthier you and a greener planet.
                    </p>
                </div>
                
                <div class="col-6">
                    <h3 class="title">Locally Sourced, Sustainably Grown
                    </h3>
                    <p>We take pride in working with local farmers who share our commitment to quality, sustainability, and ethical sourcing. By selecting fresh, organic produce from nearby farms, we not only provide you with the best seasonal flavors but also help reduce the environmental impact of long-distance food transportation. Supporting local agriculture strengthens our community and ensures that our ingredients come from sources that prioritize soil health, water conservation, and eco-friendly farming practices. When you dine with us, you’re enjoying food that’s better for you and better for the world around you.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}